%% -*- mode: erlang -*-
%% vi: set ft=erlang :

{erl_opts,
 [{d, 'LOGS'}]}.

{deps,
 [{snappy, "", {git, "https://github.com/rpt/snappy.git"}},
  {lz4, "", {git, "https://github.com/szktty/erlang-lz4.git"}},
  {uuid, "", {git, "https://github.com/okeuday/uuid.git",
              {tag, "v1.3.1"}}}]}.

{cover_enabled, true}.
