%% -*- mode: erlang -*-
%% vi: set ft=erlang :

{deps,
 [{lager, ".*", {git, "https://github.com/basho/lager.git"}},
  {snappy, "", {git, "https://github.com/rpt/snappy.git"}},
  {lz4, "", {git, "https://github.com/szktty/erlang-lz4.git"}},
  {proper, "", {git, "https://github.com/manopapad/proper.git"}},
  {folsomite, ".*", {git, "git://github.com/puzza007/folsomite.git"}}]}.

{cover_enabled, true}.
